/* Futura-Light-Italic webfont (new-bulletproof) */ 
@font-face {
    font-family: 'Futura';
    src: url('../fonts/futura/Futura-Light-Italic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/futura/Futura-Light-Italic.woff') format('woff'),
         url('../fonts/futura/Futura-Light-Italic.ttf')  format('truetype'),
         url('../fonts/futura/Futura-Light-Italic.svg#webfont') format('svg');
    font-weight: lighter;
    font-style: italic;
}

/* Futura-Bold-Italic webfont (new-bulletproof) */ 
@font-face {
    font-family: 'Futura';
    src: url('../fonts/futura/Futura-Bold-Italic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/futura/Futura-Bold-Italic.woff') format('woff'),
         url('../fonts/futura/Futura-Bold-Italic.ttf')  format('truetype'),
         url('../fonts/futura/Futura-Bold-Italic.svg#webfont') format('svg');
    font-weight: 700;
    font-style: italic;        
}

/* Futura-Bold webfont (new-bulletproof) */ 
@font-face {
    font-family: 'Futura';
    src: url('../fonts/futura/Futura-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/futura/Futura-Bold.woff') format('woff'),
         url('../fonts/futura/Futura-Bold.ttf')  format('truetype'),
         url('../fonts/futura/Futura-Bold.svg#webfont') format('svg');
    font-weight: 700;
    font-style: normal;
}

/* Futura-Book-Italic webfont (new-bulletproof) */ 
@font-face {
    font-family: 'Futura';
    src: url('../fonts/futura/Futura-Book-Italic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/futura/Futura-Book-Italic.woff') format('woff'),
         url('../fonts/futura/Futura-Book-Italic.ttf')  format('truetype'),
         url('../fonts/futura/Futura-Book-Italic.svg#webfont') format('svg');
    font-weight: normal;
    font-style: italic;
}

/* Futura-Book webfont (new-bulletproof) */ 
@font-face {
    font-family: 'Futura';
    src: url('../fonts/futura/Futura-Book.eot?#iefix') format('embedded-opentype'),
         url('../fonts/futura/Futura-Book.woff') format('woff'),
         url('../fonts/futura/Futura-Book.ttf')  format('truetype'),
         url('../fonts/futura/Futura-Book.svg#webfont') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Futura-Light webfont (new-bulletproof) */ 
@font-face {
    font-family: 'Futura';
    src: url('../fonts/futura/Futura-Light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/futura/Futura-Light.woff') format('woff'),
         url('../fonts/futura/Futura-Light.ttf')  format('truetype'),
         url('../fonts/futura/Futura-Light.svg#webfont') format('svg');
    font-weight: lighter;
    font-style: normal;
}

/* Futura-Medium-Italic webfont (new-bulletproof) */ 
@font-face {
    font-family: 'Futura';
    src: url('../fonts/futura/Futura-Medium-Italic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/futura/Futura-Medium-Italic.woff') format('woff'),
         url('../fonts/futura/Futura-Medium-Italic.ttf')  format('truetype'),
         url('../fonts/futura/Futura-Medium-Italic.svg#webfont') format('svg');
    font-weight: 400;
    font-style: italic;
}

/* Futura-Medium webfont (new-bulletproof) */ 
@font-face {
    font-family: 'Futura';
    src: url('../fonts/futura/Futura-Medium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/futura/Futura-Medium.woff') format('woff'),
         url('../fonts/futura/Futura-Medium.ttf')  format('truetype'),
         url('../fonts/futura/Futura-Medium.svg#webfont') format('svg');
    font-weight: 400;
    font-style: normal;
}

/* Generated by Font Squirrel (http://www.fontsquirrel.com) on May 17, 2013 12:56:25 AM America/New_York */
