@font-face {
    font-family: 'gilroyextrabold';
    src: url('../fonts/gilroy/gilroy-extrabold-webfont.eot');
    src: url('../fonts/gilroy/gilroy-extrabold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gilroy/gilroy-extrabold-webfont.woff2') format('woff2'),
         url('../fonts/gilroy/gilroy-extrabold-webfont.woff') format('woff'),
         url('../fonts/gilroy/gilroy-extrabold-webfont.ttf') format('truetype'),
         url('../fonts/gilroy/gilroy-extrabold-webfont.svg#gilroyextrabold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'gilroylight';
    src: url('../fonts/gilroy/gilroy-light-webfont.eot');
    src: url('../fonts/gilroy/gilroy-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gilroy/gilroy-light-webfont.woff2') format('woff2'),
         url('../fonts/gilroy/gilroy-light-webfont.woff') format('woff'),
         url('../fonts/gilroy/gilroy-light-webfont.ttf') format('truetype'),
         url('../fonts/gilroy/gilroy-light-webfont.svg#gilroylight') format('svg');
    font-weight: normal;
    font-style: normal;
}