@font-face {
    font-family: 'r-futura';
    src: url('../fonts/r-futura/rfuturastd-bold-webfont.eot');
    src: url('../fonts/r-futura/rfuturastd-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/r-futura/rfuturastd-bold-webfont.woff2') format('woff2'),
         url('../fonts/r-futura/rfuturastd-bold-webfont.woff') format('woff'),
         url('../fonts/r-futura/rfuturastd-bold-webfont.ttf') format('truetype'),
         url('../fonts/r-futura/rfuturastd-bold-webfont.svg#r-futura_stdbold') format('svg');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'r-futura';
    src: url('../fonts/r-futura/rfuturastd-boldoblique-webfont.eot');
    src: url('../fonts/r-futura/rfuturastd-boldoblique-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/r-futura/rfuturastd-boldoblique-webfont.woff2') format('woff2'),
         url('../fonts/r-futura/rfuturastd-boldoblique-webfont.woff') format('woff'),
         url('../fonts/r-futura/rfuturastd-boldoblique-webfont.ttf') format('truetype'),
         url('../fonts/r-futura/rfuturastd-boldoblique-webfont.svg#r-futura_stdbold_italic') format('svg');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'r-futura';
    src: url('../fonts/r-futura/rfuturastd-medium-webfont.eot');
    src: url('../fonts/r-futura/rfuturastd-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/r-futura/rfuturastd-medium-webfont.woff2') format('woff2'),
         url('../fonts/r-futura/rfuturastd-medium-webfont.woff') format('woff'),
         url('../fonts/r-futura/rfuturastd-medium-webfont.ttf') format('truetype'),
         url('../fonts/r-futura/rfuturastd-medium-webfont.svg#r-futura_stdmedium') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'r-futura';
    src: url('../fonts/r-futura/rfuturastd-mediumoblique-webfont.eot');
    src: url('../fonts/r-futura/rfuturastd-mediumoblique-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/r-futura/rfuturastd-mediumoblique-webfont.woff2') format('woff2'),
         url('../fonts/r-futura/rfuturastd-mediumoblique-webfont.woff') format('woff'),
         url('../fonts/r-futura/rfuturastd-mediumoblique-webfont.ttf') format('truetype'),
         url('../fonts/r-futura/rfuturastd-mediumoblique-webfont.svg#r-futura_stdmedium_oblique') format('svg');
    font-weight: normal;
    font-style: italic;
}