// Your variable overrides
$my-white: #fff;
$my-grey: #808080;
$my-black: #000;
$my-morado: rgba(66,0,118,0.9);
$my-celeste:rgba(32,125,159,0.9);

// Colores Manifiesto
$theme-colors: (
    "my-white": $my-white,
    "my-grey": $my-grey,
    "my-black": $my-black,
    "danger": #d0112b,
    "my-morado": $my-morado,
    "my-celeste": $my-celeste,
);

//Inicializar componentes inactivos
$enable-shadows: false;
$enable-gradients: false;
$enable-hover-media-query: true;

//Resetar fonts
$font-size-base:              1rem !default;

$h1-font-size: $font-size-base * 2.5;
$h2-font-size: $font-size-base * 2;
$h3-font-size: $font-size-base * 1.5;
$h4-font-size: $font-size-base * 1.33;
$h5-font-size: $font-size-base * 1.25;
$h6-font-size: $font-size-base;